# DATABASE TUTORIALS WITH PYTHON & SQL

*In order to use database with python, there are some concepts that one has to be familiar with*

1. SQL - STRUCTURED QUERY LANGUAGE, basically the language we are going to use to implement relational databases
2. SQL SERVERS eg: MySQL Server

# PART 1 - with SQLite

We begin by importing SQLite - Which is a light weight database manager and comes with python

In [4]:
import sqlite3

After importing sqlite, we create a connection with the database we are going to use. Sqlite has it that
what we are going to pass in the .connect() represents both the database name, and the database itself. If
the database doesn't exist, sqlite will automatically create a new database with the name specified and create
the connection. If the database exists, then the database would be connected. In our case MaxNyansa.db doesn't
exist so a new one is created for us

In [5]:
connection = sqlite3.connect('MaxNyansa.db')

Now that the connection has been established and the database created, we create a cursor object. A cursor basically is
what traverses through the records of the database. It also keeps track of outstanding operations of the database

In [6]:
cursor = connection.cursor()

We write our basic query for creating a table in SQL and execute it

In [13]:
command = """CREATE TABLE Maxim(
                ID INTEGER PRIMARY KEY
                ,F_NAME VARCHAR(20)
                ,L_NAME VARCHAR(20)
                ,AGE INTEGER);"""

In [14]:
cursor.execute(command)

Now that our Maxim table has been successfully been created, let us write some query to insert values into the table

In [15]:
sql_comm = """INSERT INTO Maxim VALUES
                (NULL,"GILBERT", "ADJEI", 23),
                (NULL,"ASEDA", "ADDAI-DESEH", 23),
                (NULL,"RICHARD", "ACKON", 22);"""

It is always best practices to save the connection that has been established. We use the .commit() operation to
achieve that

In [16]:
connection.commit()

In [17]:
cursor.execute(sql_comm)

Let us now query our database by using the simple SQL query and save it in results

In [18]:
results=cursor.execute("""SELECT * FROM Maxim;""")

We use the .fetchall() function to get all contents that was returned from our query

In [19]:
results.fetchall()

[(1, 'GILBERT', 'ADJEI', 23),
 (2, 'ASEDA', 'ADDAI-DESEH', 23),
 (3, 'RICHARD', 'ACKON', 22)]

# PART - 2 with MySQLdb

MySQLdb is a DBM-API module for MySQL Server. A module responsible for interfacing with the MySQL Server.
We import as we would any python module. You can pip install MySQLdb if you don't have it. Note: MySQLdb
is for python API 2. For Python 3 and above users, you have to install the more stable fork of MySQLdb called
mysqlclient

In [20]:
import MySQLdb

We establish connection with the SQL Server. Credentials may differ from your server you are running on. But the idea is
still the same

In [21]:
connection = MySQLdb.connect (host = "localhost",
                              user = "root",
                              passwd = "root",
                              db = "test")

We create the cursor object as we did in part one and execute a select all query.

In [22]:
cursor = connection.cursor()

In [23]:
cursor.execute("SELECT * FROM testtable")

3

We finally call the fetchall() function to obtain the values returned by the query from the server.

In [24]:
cursor.fetchall()

((1, '', '', 0), (2, 'Gilbert', 'Adjei', 23), (3, 'Khadija', 'Alhassan', 22))

After all this is done, you make sure you close the connection